<div class="container pt-3">
  <h2 class="container text-center">Formulario CRUD em NODEJS</h2>
  <form action="/cadastrar" method="POST">
  <img src="./img/user5.gif"  class="img-fluid mx-auto d-block " width="360" height="245">
    <div class="form-group pt-3">
        
      <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="idade" placeholder="Idade" name="idade">
    </div>
    <div class="form-group form-check">
      <label class="form-check-label"></label>
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <input type="submit" value="Cadastrar" class="btn btn-primary text-center col-2 mx-auto d-block"></input>
  </form>
</div>

<div class="container pt-3">
  <h2 class="container text-center">Tabela</h2>          
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Selecionar</th>
      </tr>
    </thead>
    <tbody>
        {{#each dados}}
      <tr>
        <td>{{nome}}</td>
        <td>{{idade}}</td>
        <td><a href="selecionar/{{id}}">Selecionar</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>